In [0]:
from pyspark.sql.functions import abs
from pyspark.sql.types import StringType, DoubleType, StructField, StructType, TimestampType, ArrayType, LongType
from pyspark.sql import SparkSession
from pyspark.sql.functions import row_number, col, desc, explode, when, trim
from pyspark.sql.window import Window
from pyspark.sql.functions import to_timestamp

In [0]:
# Combine and load multiple JSON files
combined_df = None
for i in range(0, 8):
    file_path = f"dbfs:/FileStore/movie_{i}.json"
    df = spark.read.option("multiline", "true").option("inferSchema", "true").json(file_path)
    if combined_df is None:
        combined_df = df
    else:
        combined_df = combined_df.union(df)

combined_df.write.format("delta").mode("overwrite").saveAsTable("combined_movies")

In [0]:
# Combine and load multiple JSON files
combined_df = None
for i in range(0, 8):
    file_path = f"dbfs:/FileStore/movie_{i}.json"
    df = spark.read.option("multiline", "true").option("inferSchema", "true").json(file_path)
    if combined_df is None:
        combined_df = df
    else:
        combined_df = combined_df.union(df)

# Run JSON files to bronze tables
movies_df = combined_df.select(explode(combined_df['movie']).alias("movie_column"))
movies_df = movies_df.selectExpr("movie_column.*")
movies_df.write.format("delta").mode("overwrite").saveAsTable(f"bronze_movies")

In [0]:
%sql

SELECT * FROM hive_metastore.default.bronze_movies LIMIT 1

BackdropUrl,Budget,CreatedBy,CreatedDate,Id,ImdbUrl,OriginalLanguage,Overview,PosterUrl,Price,ReleaseDate,Revenue,RunTime,Tagline,Title,TmdbUrl,UpdatedBy,UpdatedDate,genres
https://image.tmdb.org/t/p/original//s3TBrRGB1iav7gFOCNx3H31MoES.jpg,1.6E8,null,2021-04-03T16:51:30.1633333,1,https://www.imdb.com/title/tt1375666,en,"Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: ""inception"", the implantation of another person's idea into a target's subconscious.",https://image.tmdb.org/t/p/w342//9gk7adHYeDvHkCSEqAvQNLV5Uge.jpg,9.9,2010-07-15T00:00:00,8.25532764E8,148,Your mind is the scene of the crime.,Inception,https://www.themoviedb.org/movie/27205,null,null,"List(List(1, Adventure), List(6, Action), List(13, Science Fiction))"

In [0]:
# Data cleaning about negative runtime
bronze_df = spark.table("bronze_movies")
bronze_df = bronze_df.withColumn('RunTime', abs(bronze_df['RunTime']))

In [0]:
# Create a lookup junction table with only the 'genres' column from bronze_df
windowSpec = Window.orderBy("genres")
genres_df = bronze_df.select('genres').distinct().withColumnRenamed('genres', 'genre')

# Show the lookup junction table
genres_df.show()

# Save genres_df as a silver table
genres_df.write.format("delta").mode("overwrite").saveAsTable("silver_genres")

+--------------------+
|               genre|
+--------------------+
|[{1, Adventure}, ...|
|[{2, Fantasy}, {7...|
|[{1, Adventure}, ...|
|[{6, Action}, {7,...|
|[{5, Horror}, {6,...|
|[{1, Adventure}, ...|
|[{4, Drama}, {7, ...|
|[{1, Adventure}, ...|
|[{4, Drama}, {8, ...|
|[{1, Adventure}, ...|
|[{1, Adventure}, ...|
|[{2, Fantasy}, {7...|
|        [{4, Drama}]|
|[{1, Adventure}, ...|
|[{1, Adventure}, ...|
|[{4, Drama}, {5, ...|
|[{1, Adventure}, ...|
|[{1, Adventure}, ...|
|[{1, Adventure}, ...|
|[{10, Thriller}, ...|
+--------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import lit

bronze_df = bronze_df.dropDuplicates(['Id'])
bronze_df = bronze_df.withColumn('status', lit('new'))

In [0]:
# Move bronze_df to silver table
bronze_df.write.format("delta").mode("overwrite").saveAsTable("silver_movie")

# Get column names from bronze_df
column_names = bronze_df.columns

# Create a comma-separated string of column names
column_names_expr = ", ".join(column_names)

# Create a new silver table using the column names from bronze_df
spark.sql(f"CREATE TABLE IF NOT EXISTS silver_movie_0 USING DELTA AS SELECT {column_names_expr} FROM silver_movie")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
# Show silver table silver_movie
spark.sql("SELECT * FROM silver_movie").show()

+--------------------+---------+---------+--------------------+---+--------------------+----------------+--------------------+--------------------+-----+-------------------+-------------+-------+--------------------+--------------------+--------------------+---------+-----------+--------------------+------+
|         BackdropUrl|   Budget|CreatedBy|         CreatedDate| Id|             ImdbUrl|OriginalLanguage|            Overview|           PosterUrl|Price|        ReleaseDate|      Revenue|RunTime|             Tagline|               Title|             TmdbUrl|UpdatedBy|UpdatedDate|              genres|status|
+--------------------+---------+---------+--------------------+---+--------------------+----------------+--------------------+--------------------+-----+-------------------+-------------+-------+--------------------+--------------------+--------------------+---------+-----------+--------------------+------+
|https://image.tmd...|   2.37E8|     NULL|2021-04-03T16:51:...|  6|https://www.imdb....|              en|In the 22nd centu...|https://image.tmd...|  9.9|2009-12-10T00:00:00|2.787965087E9|    162|Enter the World o...|              Avatar|https://www.themo...|     NULL|       NULL|[{1, Adventure}, ...|   new|
|https://image.tmd...|    1.7E8|     NULL|2021-04-03T16:51:...|  7|https://www.imdb....|              en|Light years from ...|https://image.tmd...|  9.9|2014-07-30T00:00:00|   7.727766E8|    121|All heroes start ...|Guardians of the ...|https://www.themo...|     NULL|       NULL|[{1, Adventure}, ...|   new|
|https://image.tmd...|    1.5E8|     NULL|2021-04-03T16:51:...| 19|https://www.imdb....|              en|An apocalyptic st...|https://image.tmd...|  9.9|2015-05-13T00:00:00|  3.7885834E8|    121|  What a Lovely Day.|  Mad Max: Fury Road|https://www.themo...|     NULL|       NULL|[{1, Adventure}, ...|   new|
|https://image.tmd...|    2.5E8|     NULL|2021-04-03T16:51:...| 22|https://www.imdb....|              en|Following the dea...|https://image.tmd...|  9.9|2012-07-16T00:00:00|1.081041287E9|    165|     The Legend Ends|The Dark Knight R...|https://www.themo...|     NULL|       NULL|[{4, Drama}, {6, ...|   new|
|https://image.tmd...|    8.0E7|     NULL|2021-04-03T16:51:...| 25|https://www.imdb....|              en|World War II sold...|https://image.tmd...|  9.9|2010-02-14T00:00:00|      2.948E8|    138|  Someone is missing|      Shutter Island|https://www.themo...|     NULL|       NULL|[{4, Drama}, {10,...|   new|
|https://image.tmd...|    9.4E7|     NULL|2021-04-03T16:51:...| 26|https://www.imdb....|              en|Aragorn is reveal...|https://image.tmd...|  9.9|2003-12-01T00:00:00|1.118888979E9|    201|The eye of the en...|The Lord of the R...|https://www.themo...|     NULL|       NULL|[{1, Adventure}, ...|   new|
|https://image.tmd...|   3.56E8|     NULL|2021-04-03T16:51:...| 29|https://www.imdb....|              en|After the devasta...|https://image.tmd...|  9.9|2019-04-24T00:00:00|2.797800564E9|    181|Part of the journ...|   Avengers: Endgame|https://www.themo...|     NULL|       NULL|[{1, Adventure}, ...|   new|
|https://image.tmd...|    5.5E7|     NULL|2021-04-03T16:51:...| 31|https://www.imdb....|              en|During the 1980s,...|https://image.tmd...|  9.9|2019-10-02T00:00:00|1.074251311E9|    122|Put on a happy face.|               Joker|https://www.themo...|     NULL|       NULL|[{4, Drama}, {10,...|   new|
|https://image.tmd...|    1.5E8|     NULL|2021-04-03T16:51:...| 32|https://www.imdb....|              en|Twenty-two years ...|https://image.tmd...|  9.9|2015-06-06T00:00:00|1.671713208E9|    124|   The park is open.|      Jurassic World|https://www.themo...|     NULL|       NULL|[{1, Adventure}, ...|   new|
|https://image.tmd...|    7.0E7|     NULL|2021-04-03T16:51:...| 34|https://www.imdb....|              en|In Nazi-occupied ...|https://image.tmd...|  9.9|2009-08-18T00:00:00| 3.21455689E8|    153|Once upon a time ...|Inglourious Basterds|https://www.themo...|     NULL|       NULL|[{4, Drama}, {6, ...|   new|
|https://image.tmd...|    1.5E8|     NULL|2021-04-03T16:51:...| 39|https://www.imdb....|              en|Against his fathe...|https://image.tmd...|  9.9|2011-04-21T00:00:00| 4.49326618E8|    115|Two worlds. One h...|                Thor|https://www.themo...|     NULL|       NULL|[{1, Adventure}, ...|   new|
|https://image.tmd...|    1.3E8|     NULL|2021-04-03T16:51:...| 43|https://www.imdb....|              en|Harry, Ron and He...|https://image.tmd...|  9.9|2004-05-31T00:00:00| 7.89804554E8|    141|Something wicked ...|Harry Potter and ...|https://www.themo...|     NULL|       NULL|[{1, Adventure}, ...|   new|
|https://image.tmd...|    9.7E7|     NULL|2021-04-03T16:51:...| 50|https://www.imdb....|              en|In the near futur...|https://image.tmd...|  9.9|2017-02-28T00:00:00| 6.19021436E8|    137|   His time has come|               Logan|https://www.themo...|     NULL|       NULL|[{4, Drama}, {6, ...|   new|
|https://image.tmd...|    1.3E8|     NULL|2021-04-03T16:51:...| 54|https://www.imdb....|              en|Armed with the as...|https://image.tmd...|  9.9|2015-07-14T00:00:00| 5.19311965E8|    117|Heroes don't get ...|             Ant-Man|https://www.themo...|     NULL|       NULL|[{1, Adventure}, ...|   new|
|https://image.tmd...|    3.5E7|     NULL|2021-04-03T16:51:...| 57|https://www.imdb....|              en|In a small town i...|https://image.tmd...|  9.9|2017-09-06T00:00:00| 7.01796444E8|    135|Your fears are un...|                  It|https://www.themo...|     NULL|       NULL|       [{5, Horror}]|   new|
|https://image.tmd...|    3.3E7|     NULL|2021-04-03T16:51:...| 58|https://www.imdb....|              en|Two homicide dete...|https://image.tmd...|  9.9|1995-09-22T00:00:00| 3.27311859E8|    127|Seven deadly sins...|               Se7en|https://www.themo...|     NULL|       NULL|[{10, Thriller}, ...|   new|
|https://image.tmd...|    2.5E8|     NULL|2021-04-03T16:51:...| 65|https://www.imdb....|              en|Harry, Ron and He...|https://image.tmd...|  9.9|2010-10-17T00:00:00| 9.54305868E8|    146|One Way… One Fate...|Harry Potter and ...|https://www.themo...|     NULL|       NULL|[{1, Adventure}, ...|   new|
|https://image.tmd...|    1.8E8|     NULL|2021-04-03T16:51:...| 68|https://www.imdb....|              en|WALL·E is the las...|https://image.tmd...|  9.9|2008-06-22T00:00:00|  5.2131186E8|     98|After 700 years o...|              WALL·E|https://www.themo...|     NULL|       NULL|[{3, Animation}, ...|   new|
|https://image.tmd...|6000000.0|     NULL|2021-04-03T16:51:...| 71|https://www.imdb....|              en|Spanning the year...|https://image.tmd...|  9.9|1972-03-14T00:00:00| 2.45066411E8|    175|An offer you can'...|       The Godfather|https://www.themo...|     NULL|       NULL|[{4, Drama}, {11,...|   new|
|https://image.tmd...|   1.15E8|     NULL|2021-04-03T16:51:...| 72|https://www.imdb....|              en|James Sullivan an...|https://image.tmd...|  9.9|2001-11-01T00:00:00| 5.62816256E8|     92|We Scare Because ...|      Monsters, Inc.|https://www.themo...|     NULL|       NULL|[{3, Animation}, ...|   new|
+--------------------+---------+---------+--------------------+---+--------------------+----------------+--------------------+--------------------+-----+-------------------+-------------+-------+--------------------+--------------------+--------------------+---------+-----------+--------------------+------+
only showing top 20 rows